/.github/ @eonx-com/quality-standards
ecs.php @eonx-com/quality-standards
license @eonx-com/quality-standards
monorepo-builder.php @eonx-com/quality-standards
phpstan.neon @eonx-com/quality-standards
