# Composer
composer.lock
/vendor
.phpunit.result.cache
coverage_output.txt

# env
.env.local.php

# local secret stuff
/secret

# MacOS
.DS_Store

# Symfony
/var

# Exclude PhpStorm IDE files
**/.idea/*
**/.idea/dictionaries/*.xml
## Do NOT exclude PhpStorm IDE files for shared settings
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/dictionaries
!/.idea/dictionaries/easy_monorepo.xml
!/.idea/scopes
