parameters:
    ignoreErrors:
        - message: '#Parameter \#3 \$privateKey of method StepTheFkUp\\ApiToken\\Tests\\AbstractFirebaseJwtTokenTestCase::createFirebaseJwtDriver\(\) expects resource|string|null, bool|resource|string|null given.#'
          path: packages/ApiToken/tests

        - message: '#Strict comparison using === between true and false will always evaluate to false.#'
          path: packages/EasyDecision/src/Decisions

        - message: '#Parameter \#2 \$ruleProviders of class StepTheFkUp\\EasyDecision\\Decisions\\DecisionConfig constructor expects array<StepTheFkUp\\EasyDecision\\Interfaces\\RuleProviderInterface>, array<int, stdClass> given.#'
          path: packages/EasyDecision/tests/Decisions

        - message: '#Access to an undefined property Mockery\\MockInterface::\$users.#'
          path: packages/EasyIdentity/tests/Implementations/Auth0

        - message: '#Parameter \#2 \$pipelines of class StepTheFkUp\\EasyPipeline\\Implementations\\Illuminate\\IlluminatePipelineFactory constructor expects array<string>, array<int, int|string> given.#'
          path: packages/EasyPipeline/src/Bridge/Laravel

        - message: '#Property StepTheFkUp\\EasyRepository\\Implementations\\Doctrine\\ORM\\AbstractDoctrineOrmRepository::\$manager \(Doctrine\\ORM\\EntityManagerInterface\) does not accept Doctrine\\Common\\Persistence\\ObjectManager|null.#'
          path: packages/EasyRepository/src/Implementations/Doctrine/ORM

        - message: '#Property StepTheFkUp\\EasyRepository\\Implementations\\Doctrine\\ORM\\AbstractDoctrineOrmRepository::\$repository \(Doctrine\\ORM\\EntityRepository\) does not accept Doctrine\\Common\\Persistence\\ObjectRepository.#'
          path: packages/EasyRepository/src/Implementations/Doctrine/ORM

        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::find\(\).#'
          path: packages/EasyRepository/src/Implementations/Illuminate

        - message: '#Method StepTheFkUp\\EasyRepository\\Tests\\Implementation\\Illuminate\\EloquentRepositoryStub::getModel\(\) should return Illuminate\\Database\\Eloquent\\Model but returns Mockery\\MockInterface.#'
          path: packages/EasyRepository/tests/Implementation/Illuminate

        - message: '#Call to an undefined method Illuminate\\Support\\ServiceProvider::boot\(\).#'
          path: packages/Pagination/tests/Bridge/Laravel

        - '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage::once\(\).#'
        - '#PHPDoc tag @throws with type ([\w\\|]+)?GuzzleHttp\\Exception\\GuzzleException([|\w\\]+)? is not subtype of Throwable#'
        - '#Parameter \#1 \$app of class [A-Z][\w\\]+ constructor expects Illuminate\\(Contracts\\)?Foundation\\Application, Laravel\\Lumen\\Application given.#'