<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
    colors="true"
    bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="EonX EasyMonorepo Test Suite">
            <directory>packages/*/tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>packages/*/bundle</directory>
            <directory>packages/*/laravel</directory>
            <directory>packages/*/src</directory>
        </include>
        <exclude>
            <directory>packages/*/bundle/Enum</directory>
            <directory>packages/*/bundle/config</directory>
            <directory>packages/*/bundle/templates</directory>
            <directory>packages/*/bundle/translations</directory>
        </exclude>
    </source>

    <php>
        <env name="APP_ENV" value="test"/>
    </php>
</phpunit>
