<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="EonX EasyMonorepo Test Suite">
            <directory>packages/*/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>packages/*/src</directory>
            <exclude>
                <directory>packages/*/src/Bridge/Laravel/config</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
