includes:
    - vendor/symplify/phpstan-extensions/config/config.neon

services:
    - class: EonX\EasyMonorepo\PHPStan\SymfonyMessengerEnvelopeLastReturnType
      tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

parameters:
    tmpDir: var/cache/phpstan
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2

    paths:
        - %currentWorkingDirectory%/packages

    level: 8

    bootstrapFiles:
        - %currentWorkingDirectory%/tests/bootstrap.php
        - %currentWorkingDirectory%/vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/Loader/Configurator/ContainerConfigurator.php

    excludePaths:
        - %currentWorkingDirectory%/packages/*/var/*
        - %currentWorkingDirectory%/packages/*/vendor/*
        - %currentWorkingDirectory%/packages/*/config/*
        - %currentWorkingDirectory%/packages/EasyApiPlatform/tests/Fixtures/app/src/Kernel/ApplicationKernel.php
        - %currentWorkingDirectory%/packages/EasyApiToken/src/Interfaces/*
        - %currentWorkingDirectory%/packages/EasyApiToken/tests/Bridge/Symfony/*
        - %currentWorkingDirectory%/packages/EasyEncryption/src/AwsPkcs11Encryptor.php
        - %currentWorkingDirectory%/packages/EasyErrorHandler/src/Bridge/Laravel/ExceptionHandler.php
        - %currentWorkingDirectory%/packages/EasySecurity/src/Bridge/Symfony/Resources/config/services.php
        - %currentWorkingDirectory%/packages/EasySecurity/src/Bridge/Symfony/Security/SecurityContextAuthenticator.php
        - %currentWorkingDirectory%/packages/EasySwoole/src/Bridge/Symfony/Cache/SwooleTableAdapter.php
        - %currentWorkingDirectory%/packages/EasySwoole/src/Helpers/CacheTableHelper.php
        - %currentWorkingDirectory%/packages/EasySwoole/src/Helpers/FunctionHelper.php
        - %currentWorkingDirectory%/packages/EasyTest/src/Bridge/PhpUnit/Extension/MailerMessageLoggerListenerPhpUnitExtension.php

    ignoreErrors:
        - '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy::[\w\\]+\(\).#'
        - '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage::once\(\).#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:children\(\)#'

        # ---- EasyActivity ----
        # ---- EasyApiPlatform ----
        - message: '#Class EonX\\EasyApiPlatform\\Normalizers\\CarbonImmutableNormalizer extends @final class Symfony\\Component\\Serializer\\Normalizer\\DateTimeNormalizer#'
          path: %currentWorkingDirectory%/packages/EasyApiPlatform/src/Normalizers/CarbonImmutableNormalizer.php

        - message: '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy<ApiPlatform\\Api\\IriConverterInterface>\:\:getResourceFromIri\(\)#'
          path: %currentWorkingDirectory%/packages/EasyApiPlatform/tests/Filters/AdvancedSearchFilterTest.php

        - message: '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy<EonX\\EasyApiPlatform\\Tests\\Fixtures\\App\\ApiResource\\RelatedDummy>\:\:getId\(\)#'
          path: %currentWorkingDirectory%/packages/EasyApiPlatform/tests/Filters/AdvancedSearchFilterTest.php

        # ---- EasyApiToken ----
        - message: '#Parameter \#1 \$payload of static method Firebase\\JWT\\JWT\:\:encode\(\) expects array, array\|object given#'
          path: %currentWorkingDirectory%/packages/EasyApiToken/src/External/FirebaseJwtDriver.php

        # ---- EasyAsync ----
        - message: '#Method EonX\\EasyAsync\\Tests\\AbstractTestCase::mock\(\) should return Mockery\\MockInterface but returns Mockery\\LegacyMockInterface.#'
          path: %currentWorkingDirectory%/packages/EasyAsync/tests

        - message: '#Method EonX\\EasyAsync\\Tests\\Stubs\\EventDispatcherStub\:\:dispatch\(\) should return EonX\\EasyAsync\\Interfaces\\EasyAsyncEventInterface but returns object#'
          path: %currentWorkingDirectory%/packages/EasyAsync/tests/Stubs/EventDispatcherStub.php

        # ---- EasyAwsCredentialsFinder ----
        # ---- EasyBankFiles ----
        - message: '#Call to an undefined method object\:\:getTransactionCodeDetails\(\)#'
          path: %currentWorkingDirectory%/packages/EasyBankFiles/tests/Parsers/Nai/ParserTest.php

        - message: '#Method EonX\\EasyBankFiles\\Tests\\Parsers\\Nai\\ParserTest\:\:getTransactionsForAccounts\(\) is unused#'
          path: %currentWorkingDirectory%/packages/EasyBankFiles/tests/Parsers/Nai/ParserTest.php

        - message: '#Unreachable statement \- code above always terminates#'
          path: %currentWorkingDirectory%/packages/EasyBankFiles/tests/Parsers/Nai/ParserTest.php

        # ---- EasyBatch ----
        - message: '#Parameter \#1 \$callback of function array_map expects \(callable\(int\|string\)\: mixed\)\|null, Closure\(string\)\: string given#'
          path: %currentWorkingDirectory%/packages/EasyBatch/src/Repositories/BatchItemRepository.php

        # ---- EasyBugsnag ----
        # ---- EasyDecision ----
        # ---- EasyDoctrine ----
        # ---- EasyEncryption ----
        - message: '#Unreachable statement \- code above always terminates#'
          path: %currentWorkingDirectory%/packages/EasyEncryption/src/Encryptor.php

        # ---- EasyErrorHandler ----
        - message: '#Dead catch \- ReflectionException is never thrown in the try block#'
          path: %currentWorkingDirectory%/packages/EasyErrorHandler/src/Providers/ErrorCodesFromInterfaceProvider.php

        # ---- EasyEventDispatcher ----
        # ---- EasyHttpClient ----
        # ---- EasyLock ----
        - message: '#Result of && is always false#'
          path: %currentWorkingDirectory%/packages/EasyLock/src/LockService.php

        - message: "#Strict comparison using === between int and 'HY000' will always evaluate to false#"
          path: %currentWorkingDirectory%/packages/EasyLock/src/LockService.php

        # ---- EasyLogging ----
        - message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:children\(\)#'
          path: %currentWorkingDirectory%/packages/EasyLogging/src/Bridge/Symfony/DependencyInjection/Configuration.php

        - message: '#Parameter \#2 \$level of class Monolog\\Handler\\StreamHandler constructor expects (.*?), int given#'
          path: %currentWorkingDirectory%/packages/EasyLogging/src/Config/StreamHandlerConfigProvider.php

        # ---- EasyNotification ----
        # ---- EasyPagination ----
        - '#Parameter \#2 \$alias of method Doctrine\\ORM\\QueryBuilder\:\:from\(\) expects string, string\|null given#'
        - '#Access to an undefined property EonX\\EasyPagination\\Tests\\Stubs\\Model\\.*\:\:\$.*#'
        - '#Parameter \#1 \$queryBuilder of method EonX\\EasyPagination\\Paginators\\DoctrineOrmLengthAwarePaginator\:\:fetchResults\(\) expects Doctrine\\ORM\\QueryBuilder, Doctrine\\DBAL\\Query\\QueryBuilder\|Doctrine\\ORM\\QueryBuilder given#'
        - '#Parameter \#1 \$queryBuilder of method EonX\\EasyPagination\\Paginators\\DoctrineOrmPaginator\:\:fetchResults\(\) expects Doctrine\\ORM\\QueryBuilder, Doctrine\\DBAL\\Query\\QueryBuilder\|Doctrine\\ORM\\QueryBuilder given#'
        - '#Parameter \#1 \$queryBuilder of method EonX\\EasyPagination\\Paginators\\DoctrineDbalLengthAwarePaginator\:\:fetchResults\(\) expects Doctrine\\DBAL\\Query\\QueryBuilder, Doctrine\\DBAL\\Query\\QueryBuilder\|Doctrine\\ORM\\QueryBuilder given#'
        - '#Parameter \#1 \$queryBuilder of method EonX\\EasyPagination\\Paginators\\DoctrineDbalPaginator\:\:fetchResults\(\) expects Doctrine\\DBAL\\Query\\QueryBuilder, Doctrine\\DBAL\\Query\\QueryBuilder\|Doctrine\\ORM\\QueryBuilder given#'

        # ---- EasyPipeline ----
        - message: '#Parameter \#2 \$pipelines of class EonX\\EasyPipeline\\Implementations\\Illuminate\\IlluminatePipelineFactory constructor expects array<string>, array<int, int\|string> given.#'
          path: %currentWorkingDirectory%/packages/EasyPipeline/src/Bridge/Laravel

        - message: '#Parameter \#1 $argument of class ReflectionClass constructor expects class-string<T of object>|T of object, string given.#'
          path: %currentWorkingDirectory%/packages/EasyPipeline/tests

        # ---- EasyPsr7Factory ----
        # ---- EasyRandom ----
        - message: '#Access to an undefined property EonX\\EasyRandom\\Interfaces\\RandomGeneratorInterface\:\:\$uuidV4Generator#'
          path: %currentWorkingDirectory%/packages/EasyRandom/tests/Bridge/Symfony/EasyRandomBundleTest.php

        # ---- EasyRepository ----
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::find\(\).#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Implementations/Illuminate

        - message: '#Property EonX\\EasyRepository\\Implementations\\Doctrine\\ORM\\AbstractDoctrineOrmRepository::\$repository \(Doctrine\\ORM\\EntityRepository\) does not accept Doctrine\\Persistence\\ObjectRepository.#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Implementations/Doctrine/ORM

        - message: '#Property EonX\\EasyRepository\\Implementations\\Doctrine\\ORM\\AbstractDoctrineOrmRepository::\$manager \(Doctrine\\ORM\\EntityManagerInterface\) does not accept Doctrine\\Persistence\\ObjectManager\|null.#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Implementations/Doctrine/ORM

        - message: '#Method EonX\\EasyRepository\\Tests\\Implementation\\Illuminate\\EloquentRepositoryStub::getModel\(\) should return Illuminate\\Database\\Eloquent\\Model but returns Mockery\\LegacyMockInterface.#'
          path: %currentWorkingDirectory%/packages/EasyRepository/tests/Implementation/Illuminate

        - message: '#Parameter \#1 \$expected of static method PHPUnit\\Framework\\Assert::assertInstanceOf\(\) expects class-string<object>, string given.#'
          path: %currentWorkingDirectory%/packages/EasyRepository/tests

        - message: '#Parameter \#1 $argument of class ReflectionClass constructor expects class-string<T of object>|T of object, string given.#'
          path: %currentWorkingDirectory%/packages/EasyRepository/tests

        - message: '#Cannot call method getRepository\(\) on Doctrine\\Persistence\\ObjectManager\|null#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Implementations/Doctrine/ORM/AbstractDoctrineOrmRepository.php

        - message: '#Property EonX\\EasyRepository\\Implementations\\Doctrine\\ORM\\AbstractDoctrineOrmRepository\:\:\$repository with generic class Doctrine\\ORM\\EntityRepository does not specify its types\: T#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Implementations/Doctrine/ORM/DoctrineOrmRepositoryTrait.php

        - message: '#Property EonX\\EasyRepository\\Implementations\\Doctrine\\ORM\\AbstractOptimizedDoctrineOrmRepository\:\:\$repository with generic class Doctrine\\ORM\\EntityRepository does not specify its types\: T#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Implementations/Doctrine/ORM/AbstractOptimizedDoctrineOrmRepository.php

        - message: '#Method EonX\\EasyRepository\\Implementations\\Doctrine\\ORM\\AbstractDoctrineOrmRepository\:\:getClassMetadata\(\) return type with generic class Doctrine\\ORM\\Mapping\\ClassMetadata does not specify its types\: T#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Implementations/Doctrine/ORM/DoctrineOrmRepositoryTrait.php

        - message: '#Method EonX\\EasyRepository\\Implementations\\Doctrine\\ORM\\AbstractOptimizedDoctrineOrmRepository\:\:getClassMetadata\(\) return type with generic class Doctrine\\ORM\\Mapping\\ClassMetadata does not specify its types\: T#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Implementations/Doctrine/ORM/AbstractOptimizedDoctrineOrmRepository.php

        - message: '#Method EonX\\EasyRepository\\Implementations\\Doctrine\\ORM\\AbstractOptimizedDoctrineOrmRepository\:\:getManager\(\) should return Doctrine\\ORM\\EntityManagerInterface but returns Doctrine\\Persistence\\ObjectManager\|null#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Implementations/Doctrine/ORM/AbstractOptimizedDoctrineOrmRepository.php

        - message: '#Property EonX\\EasyRepository\\Implementations\\Doctrine\\ORM\\AbstractOptimizedDoctrineOrmRepository\:\:\$manager \(Doctrine\\ORM\\EntityManagerInterface\|null\) does not accept Doctrine\\Persistence\\ObjectManager\|null#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Implementations/Doctrine/ORM/AbstractOptimizedDoctrineOrmRepository.php

        - message: '#Method EonX\\EasyRepository\\Implementations\\Doctrine\\ORM\\AbstractOptimizedDoctrineOrmRepository\:\:getRepository\(\) return type with generic class Doctrine\\ORM\\EntityRepository does not specify its types\: T#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Implementations/Doctrine/ORM/AbstractOptimizedDoctrineOrmRepository.php

        # ---- EasyRequestId ----
        # ---- EasySchedule ----
        - message: '#Parameter \#1 \$app of method EonX\\EasySchedule\\Interfaces\\ScheduleInterface\:\:setApplication\(\) expects Symfony\\Component\\Console\\Application, Symfony\\Component\\Console\\Application\|null given#'
          path: %currentWorkingDirectory%/packages/EasySchedule/src/Command/ScheduleRunCommand.php

        - message: '#Cannot cast Symfony\\Component\\Console\\Input\\InputInterface to string#'
          path: %currentWorkingDirectory%/packages/EasySchedule/src/Event.php

        # ---- EasySecurity ----
        - message: '#Parameter \#2 \$permissions of class EonX\\EasySecurity\\Authorization\\Role constructor expects array<EonX\\EasySecurity\\Interfaces\\Authorization\\PermissionInterface\|string\>\|null, array<int, EonX\\EasySecurity\\Authorization\\Permission\|stdClass\|string\> given#'
          path: %currentWorkingDirectory%/packages/EasySecurity/tests/Authorization/RoleTest.php

        # ---- EasySsm ----
        - message: '#Parameter \#1 \$stream of class Symfony\\Component\\Console\\Output\\StreamOutput constructor expects resource, resource\|false given#'
          path: %currentWorkingDirectory%/packages/EasySsm/tests/Services/Dotenv/Loaders/ConsoleOutputLoaderTest.php

        - message: '#Return type \(array\) of method EonX\\EasySsm\\Tests\\Stubs\\BaseSsmClientStub\:\:getPaginator\(\) should be compatible with return type \(Aws\\ResultPaginator\) of method Aws\\Aws(Client|ClientInterface)\:\:getPaginator\(\)#'
          path: %currentWorkingDirectory%/packages/EasySsm/tests/Stubs/BaseSsmClientStub.php

        - message: '#Parameter \#1 \$envKey of class Symfony\\Component\\Dotenv\\Dotenv constructor expects string, true given#'
          path: %currentWorkingDirectory%/packages/EasySsm/src/Services/Dotenv/Loaders/DotenvLoader.php

        # ---- EasySwoole ----
        - '#Call to method (.*) on an unknown class OpenSwoole\\Table#'

        - message: '#Trying to invoke \(callable\(\)\: mixed\)\|null but it might not be a callable#'
          path: %currentWorkingDirectory%/packages/EasySwoole/src/Helpers/OutputHelper.php

        - message: '#Trying to invoke \(callable\(\)\: mixed\)\|null but it might not be a callable#'
          path: %currentWorkingDirectory%/packages/EasySwoole/src/Helpers/VarDumpHelper.php

        - message: '#Function swoole_(dd|dump)\(\) has parameter \$vars with no type specified#'
          path: %currentWorkingDirectory%/packages/EasySwoole/src/Resources/functions/dump.php

        - message: '#Method Swoole\\Server\:\:stop\(\) invoked with 2 parameters, 0\-1 required#'
          path: %currentWorkingDirectory%/packages/EasySwoole/src/Runtime/EasySwooleRunner.php

        - message: '#Method EonX\\EasySwoole\\Helpers\\SwooleTableHelper\:\:create\(\) has invalid return type OpenSwoole\\Table#'
          path: %currentWorkingDirectory%/packages/EasySwoole/src/Helpers/SwooleTableHelper.php

        - message: '#PHPDoc tag @var for variable \$table contains unknown class OpenSwoole\\Table#'
          path: %currentWorkingDirectory%/packages/EasySwoole/src/Helpers/SwooleTableHelper.php

        - message: '#Strict comparison using \=\=\= between true and false will always evaluate to false#'
          path: %currentWorkingDirectory%/packages/EasySwoole/src/Helpers/SwooleTableHelper.php

        # ---- EasyTemplatingBlock ----
        # ---- EasyTest ----
        # ---- EasyUtils ----
        - message: '#Comparison operation ">" between 0 and 0 is always false#'
          path: %currentWorkingDirectory%/packages/EasyUtils/src/Helpers/EnvVarSubstitutionHelper.php

        - message: '#Result of && is always false#'
          path: %currentWorkingDirectory%/packages/EasyUtils/src/Helpers/EnvVarSubstitutionHelper.php

        # ---- EasyWebhook ----
        - message: '#Unsafe usage of new static\(\)#' # Until we find a better design
          path: %currentWorkingDirectory%/packages/EasyWebhook/src/AbstractWebhook.php
