includes:
    - vendor/eonx-com/easy-quality/config/phpstan/eonx.neon
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon

services:
    - class: EonX\EasyMonorepo\TypeExtension\SymfonyMessengerEnvelopeLastReturnTypeExtension
      tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

parameters:
    tmpDir: var/cache/phpstan

    level: 9

    bootstrapFiles:
        - ./stubs/pcntl.php.stub
        - %currentWorkingDirectory%/vendor/autoload.php

    paths:
        - %currentWorkingDirectory%/bin
        - %currentWorkingDirectory%/config
        - %currentWorkingDirectory%/monorepo
        - %currentWorkingDirectory%/packages
        - %currentWorkingDirectory%/tests

    excludePaths:
        - %currentWorkingDirectory%/packages/*/config/definition.php
        - %currentWorkingDirectory%/packages/*/tests/*/config/*
        - %currentWorkingDirectory%/packages/*/var/*
        - %currentWorkingDirectory%/packages/*/vendor/*
        - %currentWorkingDirectory%/packages/EasySwoole/src/Common/Resetter/SymfonyServicesAppStateResetter.php

    ignoreErrors:
        -
            identifier: missingType.iterableValue
        - '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage::once\(\).#'
        - '#Method EonX\\.*\\Fixture\\App\\Kernel\\ApplicationKernel\:\:configureContainer\(\) is unused#'
        - '#Method EonX\\.*\\Fixture\\App\\Kernel\\ApplicationKernel\:\:configureRoutes\(\) is unused#'
        - '#Class .* implements generic interface ApiPlatform\\State\\ProviderInterface but does not specify its types: T#'
        - '#Method .*\:\:__construct\(\) has parameter \$decorated with generic interface ApiPlatform\\State\\ProviderInterface but does not specify its types\: T#'
        - '#Readonly property .* is assigned outside of the constructor#'
        - '#Class .* has an uninitialized readonly property .*. Assign it in the constructor#'
        - '#PHPDoc tag @var with type Illuminate\\Contracts\\Foundation\\Application is not subtype of native type Laravel\\Lumen\\Application#'
        - message: '#Parameter .* of .* expects .*, .* given#'
          path: %currentWorkingDirectory%/packages/*/laravel/*ServiceProvider.php
        - message: '#Cannot call method .* on mixed#'
          path: %currentWorkingDirectory%/packages/*/laravel/*ServiceProvider.php
        - message: '#Cannot cast mixed to .*#'
          path: %currentWorkingDirectory%/packages/*/laravel/*ServiceProvider.php

        # ---- EasyActivity ----
        # ---- EasyApiPlatform ----
        # ---- EasyApiToken ----
        # ---- EasyAsync ----
        # ---- EasyBankFiles ----
        # ---- EasyBatch ----
        - message: '#Parameter \#1 \$callback of function array_map expects \(callable\(int\|string\)\: mixed\)\|null, Closure\(string\)\: string given#'
          path: %currentWorkingDirectory%/packages/EasyBatch/src/Doctrine/Repository/BatchItemRepository.php

        - identifier: trait.unused
          path: %currentWorkingDirectory%/packages/EasyBatch/src/Common/ValueObject/CurrentBatchObjectsAwareTrait.php

        # ---- EasyBugsnag ----
        # ---- EasyDecision ----
        # ---- EasyDoctrine ----
        - identifier: trait.unused
          path: %currentWorkingDirectory%/packages/EasyDoctrine/src/Migration/Migration/ExpectedConnectionAwareMigrationTrait.php

        - identifier: trait.unused
          path: %currentWorkingDirectory%/packages/EasyDoctrine/src/Migration/Migration/EnvironmentAwareMigrationTrait.php
        # ---- EasyEncryption ----
        - message: '#Unreachable statement \- code above always terminates#'
          path: %currentWorkingDirectory%/packages/EasyEncryption/src/Common/Encryptor/Encryptor.php

        - identifier: trait.unused
          path: %currentWorkingDirectory%/packages/EasyEncryption/src/Encryptable/Encryptable/EncryptableTrait.php

        # ---- EasyErrorHandler ----
        - message: '#Dead catch \- ReflectionException is never thrown in the try block#'
          path: %currentWorkingDirectory%/packages/EasyErrorHandler/src/ErrorCodes/Provider/ErrorCodesFromInterfaceProvider.php

        # ---- EasyEventDispatcher ----
        # ---- EasyHttpClient ----
        # ---- EasyLock ----
        # ---- EasyLogging ----
        # ---- EasyNotification ----
        # ---- EasyPagination ----
        - '#Parameter \#2 \$alias of method Doctrine\\ORM\\QueryBuilder\:\:from\(\) expects string, string\|null given#'
        - '#Access to an undefined property EonX\\EasyPagination\\Tests\\Stub\\Model\\.*\:\:\$.*#'
        - '#Parameter \#1 \$queryBuilder of method EonX\\EasyPagination\\Paginator\\DoctrineOrmLengthAwarePaginator\:\:fetchResults\(\) expects Doctrine\\ORM\\QueryBuilder, Doctrine\\DBAL\\Query\\QueryBuilder\|Doctrine\\ORM\\QueryBuilder given#'
        - '#Parameter \#1 \$queryBuilder of method EonX\\EasyPagination\\Paginator\\DoctrineOrmPaginator\:\:fetchResults\(\) expects Doctrine\\ORM\\QueryBuilder, Doctrine\\DBAL\\Query\\QueryBuilder\|Doctrine\\ORM\\QueryBuilder given#'
        - '#Parameter \#1 \$queryBuilder of method EonX\\EasyPagination\\Paginator\\DoctrineDbalLengthAwarePaginator\:\:fetchResults\(\) expects Doctrine\\DBAL\\Query\\QueryBuilder, Doctrine\\DBAL\\Query\\QueryBuilder\|Doctrine\\ORM\\QueryBuilder given#'
        - '#Parameter \#1 \$queryBuilder of method EonX\\EasyPagination\\Paginator\\DoctrineDbalPaginator\:\:fetchResults\(\) expects Doctrine\\DBAL\\Query\\QueryBuilder, Doctrine\\DBAL\\Query\\QueryBuilder\|Doctrine\\ORM\\QueryBuilder given#'
        - '#Call to an undefined method EonX\\EasyPagination\\Paginator\\Doctrine(Dbal|Orm)Paginator\:\:isLargeDatasetEnabled\(\)#'

        - message: '#Method EonX\\EasyPagination\\Paginator\\.* with generic class Illuminate\\Database\\.* does not specify its types.*#'
          path: %currentWorkingDirectory%/packages/EasyPagination/src/Paginator

        - message: '#Method EonX\\EasyPagination\\Tests\\Stub\\Model\\ChildItemModel\:\:item\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel#'
          path: %currentWorkingDirectory%/packages/EasyPagination/tests/Stub/Model/ChildItemModel.php

        - message: '#Property .*\:\:\$id is never written, only read#'
          paths:
            - %currentWorkingDirectory%/packages/EasyPagination/tests/Stub/Entity/ChildItem.php
            - %currentWorkingDirectory%/packages/EasyPagination/tests/Stub/Entity/Item.php

        - message: '#Parameter \#1 \$value of function count expects array\|Countable, mixed given#'
          path: %currentWorkingDirectory%/packages/EasyPagination/src/Paginator/DoctrineCommonPaginatorTrait.php

        # ---- EasyPipeline ----
        # ---- EasyRandom ----
        # ---- EasyRepository ----
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::find\(\).#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Repository

        - message: '#Parameter \#1 \$expected of static method PHPUnit\\Framework\\Assert::assertInstanceOf\(\) expects class-string<object>, string given.#'
          path: %currentWorkingDirectory%/packages/EasyRepository/tests

        - message: '#Parameter \#1 \$argument of class ReflectionClass constructor expects class-string<T of object>|T of object, string given.#'
          path: %currentWorkingDirectory%/packages/EasyRepository/tests

        - message: '#Property EonX\\EasyRepository\\Repository\\AbstractDoctrineOrmRepository\:\:\$repository with generic class Doctrine\\ORM\\EntityRepository does not specify its types\: T#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Repository/DoctrineOrmRepositoryTrait.php

        - message: '#Property EonX\\EasyRepository\\Repository\\AbstractOptimizedDoctrineOrmRepository\:\:\$repository with generic class Doctrine\\ORM\\EntityRepository does not specify its types\: T#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Repository/AbstractOptimizedDoctrineOrmRepository.php

        - message: '#Method EonX\\EasyRepository\\Repository\\AbstractDoctrineOrmRepository\:\:getClassMetadata\(\) return type with generic class Doctrine\\ORM\\Mapping\\ClassMetadata does not specify its types\: T#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Repository/DoctrineOrmRepositoryTrait.php

        - message: '#Method EonX\\EasyRepository\\Repository\\AbstractOptimizedDoctrineOrmRepository\:\:getClassMetadata\(\) return type with generic class Doctrine\\ORM\\Mapping\\ClassMetadata does not specify its types\: T#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Repository/AbstractOptimizedDoctrineOrmRepository.php

        - message: '#Method EonX\\EasyRepository\\Repository\\AbstractOptimizedDoctrineOrmRepository\:\:getManager\(\) should return Doctrine\\ORM\\EntityManagerInterface but returns Doctrine\\Persistence\\ObjectManager\|null#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Repository/AbstractOptimizedDoctrineOrmRepository.php

        - message: '#Property EonX\\EasyRepository\\Repository\\AbstractOptimizedDoctrineOrmRepository\:\:\$manager \(Doctrine\\ORM\\EntityManagerInterface\|null\) does not accept Doctrine\\Persistence\\ObjectManager\|null#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Repository/AbstractOptimizedDoctrineOrmRepository.php

        - message: '#Method EonX\\EasyRepository\\Repository\\AbstractOptimizedDoctrineOrmRepository\:\:getRepository\(\) return type with generic class Doctrine\\ORM\\EntityRepository does not specify its types\: T#'
          path: %currentWorkingDirectory%/packages/EasyRepository/src/Repository/AbstractOptimizedDoctrineOrmRepository.php

        # ---- EasyRequestId ----
        # ---- EasySchedule ----
        # ---- EasySecurity ----
        - message: '#Parameter \#2 \$permissions of class EonX\\EasySecurity\\Authorization\\ValueObject\\Role constructor expects array<EonX\\EasySecurity\\Authorization\\ValueObject\\Permission\|string>\|null, array<int, EonX\\EasySecurity\\Authorization\\ValueObject\\Permission\|stdClass\|string> given#'
          path: %currentWorkingDirectory%/packages/EasySecurity/tests/Unit/src/Authorization/ValueObject/RoleTest.php

        # ---- EasySwoole ----
        - message: '#Function swoole_(dd|dump)\(\) has parameter \$vars with no type specified#'
          path: %currentWorkingDirectory%/packages/EasySwoole/src/Logging/Function/dump.php

        - message: '#Call to an undefined method OpenSwoole\\Core\\Coroutine\\Client\\PDOStatementProxy\:\:.*\(\)#'
          path: %currentWorkingDirectory%/packages/EasySwoole/src/Doctrine/Result/DbalResult.php

        - message: '#Call to an undefined method OpenSwoole\\Core\\Coroutine\\Client\\PDOStatementProxy\:\:execute\(\)#'
          path: %currentWorkingDirectory%/packages/EasySwoole/src/Doctrine/Statement/DbalStatement.php

        - message: '#Call to an undefined method EonX\\EasySwoole\\Doctrine\\Client\\PdoClient\:\:.*\(\)#'
          path: %currentWorkingDirectory%/packages/EasySwoole/src/Doctrine/Connection/DbalConnection.php

        - message: '#While loop condition is always true#'
          path: %currentWorkingDirectory%/packages/EasySwoole/src/Doctrine/Pool/PdoClientPool.php

        # ---- EasyTemplatingBlock ----
        # ---- EasyTest ----
        - message: '#Class EonX\\EasyTest\\Monolog\\Logger\\LoggerStub extends @final class Monolog\\Logger#'
          path: %currentWorkingDirectory%/packages/EasyTest/src/Monolog/Logger/LoggerStub.php

        - message: '#Constructor of class EonX\\EasyTest\\Monolog\\Logger\\LoggerStub has an unused parameter \$handlers#'
          path: %currentWorkingDirectory%/packages/EasyTest/src/Monolog/Logger/LoggerStub.php

        - identifier: trait.unused
          path: %currentWorkingDirectory%/packages/EasyTest

        - message: '#Parameter \#1 \$array of static method EonX\\EasyTest\\HttpClient\\Response\\AbstractTestResponse\:\:normalizeData\(\) expects array, .* given#'
          path: %currentWorkingDirectory%/packages/EasyTest/src/HttpClient/Response/StrictTestResponse.php

        # ---- EasyUtils ----
        - message: '#Comparison operation ">" between 0 and 0 is always false#'
          path: %currentWorkingDirectory%/packages/EasyUtils/src/Common/Helper/EnvVarSubstitutionHelper.php

        - message: '#Result of && is always false#'
          path: %currentWorkingDirectory%/packages/EasyUtils/src/Common/Helper/EnvVarSubstitutionHelper.php

        - message: '#Method EonX\\EasyUtils\\Common\\Helper\\EnvVarSubstitutionHelper\:\:resolveEnvVarValue\(\) should return string but returns mixed#'
          path : %currentWorkingDirectory%/packages/EasyUtils/src/Common/Helper/EnvVarSubstitutionHelper.php

        - message: '#Parameter \#\d \$.* of function bc.* expects numeric\-string, .*string given#'
          path : %currentWorkingDirectory%/packages/EasyUtils/src/Math/ValueObject/Number.php

        # ---- EasyWebhook ----
        - message: '#Unsafe usage of new static\(\)#' # Until we find a better design
          path: %currentWorkingDirectory%/packages/EasyWebhook/src/Common/Entity/AbstractWebhook.php
