name: Push Symfony Recipes

on:
    push:
        branches:
            - master

defaults:
    run:
        shell: bash

jobs:
    push_symfony_recipes:
        name: Push Symfony Recipes
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
            -   run: git fetch --prune --unshallow

            -   name: Remove Git Extra Header
                run: git config -l | grep ''http\..*\.extraheader'' | cut -d= -f1 | xargs -L1 git config --unset-all

            -   name: Add EonX Symfony Recipes Repo Remote
                run: git remote add split-remote https://natepage:${{ secrets.MONOREPO_WITH_WORKFLOW_GITHUB_TOKEN }}@github.com/eonx-com/symfony-recipes.git

            -   name: Resolve current branch
                id: branch_name
                run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"

            -   name: Push Symfony Recipes Changes
                env:
                    BRANCH: ${{ steps.branch_name.outputs.branch }}
                run: |
                    git checkout -b "local-$BRANCH-checkout" "$BRANCH"
                    git subtree split --prefix="symfony-recipes" --branch="local-$BRANCH" "$BRANCH"
                    git push --force split-remote local-$BRANCH:$BRANCH
