name: Split Tests

on:
    pull_request:
    push:
        branches:
            - '*' # Prevents running on tags

env:
    PHP_EXTENSIONS: pdo_sqlite, openswoole, pkcs11, pcov
    PHP_EXTENSIONS_CACHE_KEY: cache-extensions-pdo_sqlite-openswoole-pkcs11

jobs:
    provide_packages_json:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup cache environment
                id: cache-extensions
                uses: shivammathur/cache-extensions@v1
                with:
                    php-version: ${{ matrix.php }}
                    extensions: ${{ env.PHP_EXTENSIONS }}
                    key: ${{ env.PHP_EXTENSIONS_CACHE_KEY }}

            -   name: Cache extensions
                uses: actions/cache@v4
                with:
                    path: ${{ steps.cache-extensions.outputs.dir }}
                    key: ${{ steps.cache-extensions.outputs.key }}

            # TODO: Change the version of the action after 2.33 is released
            -   name: Setup PHP 8.4
                uses: shivammathur/setup-php@297b3cde3c3c3202e03cd5e9b679a74c06f72214
                with:
                    php-version: 8.4
                    coverage: none
                    extensions:
                        ${{ env.PHP_EXTENSIONS }}

            -   name: Install Composer dependencies
                uses: ramsey/composer-install@v3

            -   id: output_data
                run: 'echo "matrix=$(bin/monorepo export-packages)" >> $GITHUB_OUTPUT'

        outputs:
            matrix: ${{ steps.output_data.outputs.matrix }}

    after_split_testing:
        needs: provide_packages_json
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                php: ['8.4']
                dependencies: ['latest', 'lowest']
                package: ${{ fromJson(needs.provide_packages_json.outputs.matrix) }}

        name: ${{ matrix.package.dir }} (${{ matrix.php }}${{ matrix.dependencies == 'lowest' && ' - lowest dependencies' || '' }})

        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup cache environment
                id: cache-extensions
                uses: shivammathur/cache-extensions@v1
                with:
                    php-version: ${{ matrix.php }}
                    extensions: ${{ env.PHP_EXTENSIONS }}
                    key: ${{ env.PHP_EXTENSIONS_CACHE_KEY }}

            -   name: Cache extensions
                uses: actions/cache@v4
                with:
                    path: ${{ steps.cache-extensions.outputs.dir }}
                    key: ${{ steps.cache-extensions.outputs.key }}
                    restore-keys: ${{ steps.cache-extensions.outputs.key }}

            # TODO: Change the version of the action after 2.33 is released
            -   name: Setup PHP ${{ matrix.php }}
                uses: shivammathur/setup-php@297b3cde3c3c3202e03cd5e9b679a74c06f72214
                with:
                    php-version: ${{ matrix.php }}
                    coverage: pcov
                    extensions:
                        ${{ env.PHP_EXTENSIONS }}

            -   name: Install Composer dependencies
                uses: ramsey/composer-install@v3
                with:
                    composer-options: ${{ matrix.dependencies == 'lowest' && '--prefer-lowest' || '' }} --no-plugins

            -   run: bin/monorepo localize-monorepo-packages

            -   run: cd packages/${{ matrix.package.dir }}; composer update ${{ matrix.dependencies == 'lowest' && '--prefer-lowest' || '' }} --no-progress --ansi

            -   run: cd packages/${{ matrix.package.dir }}; vendor/bin/phpunit --coverage-text tests
